<div class="header">
    <a href="./index.html">
        <img src="./img/logo.png" alt="Kochwelt">
    </a>
    <nav class="nav-links" id="nav">
        <a href="./index.html" class="link" id="nav0">Start</a>
        <a href="./dayrecipe.html" class="link" id="nav1">Rezept des Tages</a>
        <a href="./contact.html" class="link" id="nav2">Kontakt</a>
        <a href="./imprint.html" class="link" id="nav3">Impressum</a>
    </nav>
    <span href="#" class="mobileMenu" id="mobileMenu-btn" onclick="openMobileMenu()">&#9776;</span>
</div>

<div class="topnav" id="topnav">
    <nav class="nav-links-mobile" id="mobileNav">
        <a href="./index.html" class="link" id="mobilenav0">Start</a>
        <a href="./dayrecipe.html" class="link" id="mobilenav1">Rezept des Tages</a>
        <a href="./contact.html" class="link" id="mobilenav2">Kontakt</a>
        <a href="./imprint.html" class="link" id="mobilenav3">Impressum</a>
    </nav>
</div>